<header>
  <h1>fr-carousel</h1>
  <span>
      <a class="btn-github" href="https://github.com/longhaine/fr-carousel" target="_blank">
          <img class="github-icon" src="./assets/icons/github-icon.png" alt="github-icon">
          <span class="github-text">Star</span>
      </a>
      <a class="btn-stars" href="https://github.com/longhaine/fr-carousel/stargazers" target="_blank">
          <span class="github-text">{{stars}}</span>
      </a>
  </span>
</header>
<router-outlet></router-outlet>